@font-face {
  font-family: "iconfont"; /* Project id 2494165 */
  src: url('//at.alicdn.com/t/font_2494165_yawii71rq2r.woff2?t=1636039526165') format('woff2'),
       url('//at.alicdn.com/t/font_2494165_yawii71rq2r.woff?t=1636039526165') format('woff'),
       url('//at.alicdn.com/t/font_2494165_yawii71rq2r.ttf?t=1636039526165') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenben01:before {
  content: "\e70e";
}

.icon-qianbi:before {
  content: "\e63a";
}

.icon-wenben:before {
  content: "\e638";
}

.icon-aixin1:before {
  content: "\eca1";
}

.icon-24gl-fileText:before {
  content: "\eabe";
}

.icon-xiaolian:before {
  content: "\e688";
}

.icon-renyuan:before {
  content: "\e799";
}

.icon-chayuericheng:before {
  content: "\e668";
}

.icon-guanyu_o:before {
  content: "\eb77";
}

.icon-daohanglanshaixuan:before {
  content: "\e624";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-lucheng:before {
  content: "\e682";
}

.icon-wode1:before {
  content: "\e617";
}

.icon-zhanlan_shouye:before {
  content: "\e6f2";
}

.icon-goupiao:before {
  content: "\f732";
}

.icon-goupiao-copy:before {
  content: "\f733";
}

.icon-zhanlan_shouye-copy:before {
  content: "\f734";
}

.icon-wode1-copy:before {
  content: "\f735";
}

.icon-stationary_pen:before {
  content: "\e616";
}

.icon-banxingxing:before {
  content: "\e615";
}

.icon-xingji-dankewuxing:before {
  content: "\e659";
}

.icon-starHalf:before {
  content: "\e8c6";
}

.icon-star-full:before {
  content: "\e9a1";
}

.icon-banxing:before {
  content: "\e614";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-star-half:before {
  content: "\e613";
}

.icon-renzheng:before {
  content: "\e793";
}

.icon-weixin1:before {
  content: "\e612";
}

.icon-weixin:before {
  content: "\e71e";
}

.icon-kejian:before {
  content: "\e66e";
}

.icon-bukejian:before {
  content: "\e633";
}

.icon-ziyuanxhdpi:before {
  content: "\e64c";
}

.icon-weizhi:before {
  content: "\e60e";
}

.icon-photobzhaoxiang:before {
  content: "\e676";
}

.icon-yuyin:before {
  content: "\e905";
}

.icon-gengduo:before {
  content: "\e611";
}

.icon-zhaopianxuanzhong:before {
  content: "\e802";
}

.icon-w_biaoqing:before {
  content: "\e667";
}

.icon-record-video-full:before {
  content: "\e96a";
}

.icon-dianhua:before {
  content: "\e776";
}

.icon-shezhi2:before {
  content: "\e654";
}

.icon-shezhi1:before {
  content: "\e643";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-zhanghao:before {
  content: "\e679";
}

.icon-kechengguanli:before {
  content: "\e642";
}

.icon-qunliao:before {
  content: "\e66d";
}

.icon-xiaoxizhongxin:before {
  content: "\e666";
}

.icon-biaoqiankuozhan_lianxiren-379:before {
  content: "\ebec";
}

.icon-touxiang:before {
  content: "\e648";
}

.icon-qiandao:before {
  content: "\e60c";
}

.icon-taolun:before {
  content: "\e60d";
}

.icon-qizi2x:before {
  content: "\e90e";
}

.icon-xiangqing:before {
  content: "\e680";
}

.icon-huodong:before {
  content: "\e6ab";
}

.icon-zuoye:before {
  content: "\e60b";
}

.icon-jiahao1:before {
  content: "\e60a";
}

.icon-jiahao1-copy:before {
  content: "\e792";
}

.icon-wenhao1:before {
  content: "\e651";
}

.icon-slide-down:before {
  content: "\e6c3";
}

.icon-gerentouxiang:before {
  content: "\e64b";
}

.icon-jia1:before {
  content: "\e603";
}

.icon-kecheng1:before {
  content: "\e607";
}

.icon-gongzuo:before {
  content: "\e687";
}

.icon-jiahao:before {
  content: "\e601";
}

.icon-wode:before {
  content: "\e604";
}

.icon-xiaoxi:before {
  content: "\e602";
}

.icon-gongzuo-copy:before {
  content: "\e78e";
}

.icon-xiaoxi-copy:before {
  content: "\e78f";
}

.icon-wode-copy:before {
  content: "\e790";
}

.icon-kecheng1-copy:before {
  content: "\e791";
}

.icon-gonggao1:before {
  content: "\e62d";
}

.icon-dengdaipigai:before {
  content: "\e606";
}

.icon-renmai:before {
  content: "\e61e";
}

.icon-kecheng:before {
  content: "\e677";
}

.icon-yuyue:before {
  content: "\e658";
}

.icon-pinglun2:before {
  content: "\e61d";
}

.icon-jiantou:before {
  content: "\e636";
}

.icon-jiantouyou:before {
  content: "\e61c";
}

.icon-wenhao:before {
  content: "\e605";
}

.icon-leiditanxidianx:before {
  content: "\e691";
}

.icon-icon-test:before {
  content: "\e609";
}

.icon-chuanghu-kai:before {
  content: "\e63c";
}

.icon-chuanghu-kai-copy:before {
  content: "\e78d";
}

.icon-pinglun1:before {
  content: "\e62a";
}

.icon-fengjing:before {
  content: "\e66a";
}

.icon-qiche:before {
  content: "\e610";
}

.icon-pingjia:before {
  content: "\e629";
}

.icon-hanglixiang:before {
  content: "\e64f";
}

.icon-MV:before {
  content: "\e62c";
}

.icon-icon_play:before {
  content: "\e60f";
}

.icon-sousuo:before {
  content: "\e647";
}

.icon-jianjie:before {
  content: "\e78b";
}

.icon-jianjie-copy:before {
  content: "\e78c";
}

.icon-icontouxiang:before {
  content: "\e678";
}

.icon-tubiao210:before {
  content: "\e61b";
}

.icon-dizhi:before {
  content: "\e628";
}

.icon-shu:before {
  content: "\e600";
}

.icon-love:before {
  content: "\e67e";
}

.icon-good:before {
  content: "\e62b";
}

.icon-pinglun:before {
  content: "\e665";
}

.icon-bofangsanjiaoxing:before {
  content: "\e769";
}

.icon-cha:before {
  content: "\e608";
}

.icon-tianjiazhaopian:before {
  content: "\e700";
}

.icon-jiantoushang:before {
  content: "\e619";
}

.icon-jiantouxia:before {
  content: "\e61a";
}
